*{
    padding: 0;
    margin: 0;


}

.container{
    max-width: 1000px;
    margin:0 auto !important;
}
body{
    font-family: 'Lato', sans-serif;
}
.comon-btn{
    padding: 11px 20px;
    border-radius: 4px;
    background-color: #E55473;
    font-size: 11px;
    font-weight: 400;
    border: none;
    color: #fff;

}
.section-title{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: center;
}
.section-des{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(94, 94, 94);
    line-height: 22px;
    margin: 15px 0;
}

/* banner css start */
.banner{
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    margin: 0px;
    
}
.banner-body {
    display: flex;
    height: 470px;
    align-items: center !important ;
    justify-content: space-between;
}
.baner-right{
    margin-bottom: 20px;
}
.baner-right h1{
    font-size: 40px;
    font-weight: 900;
    color: #272727;
}
.baner-right p{
    font-size: 13px;
    font-weight: 400;
    color: rgb(121, 121, 121);
    line-height: 25px;
    margin-bottom: 10px;
    margin: 15px 0;
}

.baner-left img{
    width: 350px;
    height: auto;
    margin-bottom: -30px;
}

/* banner css end */
.feture-section{
    margin: 100px 0 50px 0;
}
.feute-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.img-box1, .img-box2, .img-box3{
    width: 310px;
    height: 380px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 250px 250px 0 0;
    position: relative;
    margin-top: 0;
}
.img-box2{
    background: rgba(5, 151, 160, 0.15);
}
.img-box3{
    background: rgba(71, 125, 17, 0.15);
}
.img-box1>img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 50px;
    bottom: 0;

}
.img-box2>img {
    width: 270px;
    height: auto;
    position: absolute;
    left: 40px;
    bottom: 30px;
}
.img-box3>img {
    width: 220px;
    height: auto;
    position: absolute;
    left: 55px;
    bottom: 0;
}
.fiture-link{
    text-align: center;
    color:black;
    font-size: 15px;
    display: inline-block;
    margin-top: 15px;
}
.product{
    text-align: center;
}
/* feture section css end */

/* call to action css start */
.calto-action{
    display: flex;
    justify-content: center;
    gap: 100px;
    background: rgba(39, 39, 39, 0.05);
    padding: 40px 0;
    border-radius: 5px;
}
.action-box{
    text-align: center;
}
/* call to action css end */

/* offer section css start */

.offer-section{
    margin: 100px 0;
}
.offer-left{
    text-align: center;
}
.offer-body{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.offer-right img{
    width: 200px;
    height: auto;
}
.offer-left>h1>span{
    color: #E55473;
}
/* offer section css end */

/* instragram section css */
.instragram_section{
    margin: 100px 0;
}
.instra-img{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.instra-img img{
    width: 235px;
    height: auto;
}

/* subscribe section css */

.subsceibe{
    text-align: center;
}
.subsceibe input{
    padding: 11px ;
    border:none ;
    width: 420px;
    border-radius: 4px;
    margin-right: 10px;
}
.form-section{
    padding: 70px 0;
    background-image: url("./Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}

/* footer css */

footer{
    text-align: center;
    background: #111010;
    padding: 65px 0;
    margin-top: 100px;
    margin-left: px;
}
footer h1{
    color: #E55473 !important;
}
footer h1 span{
    color: #fff;
}
footer h5{
    color: #fff !important;
}

footer p{
    color: #dddd;
    font-size: 12px;
    margin-top: 10px;
}

/* product section css */
.product-box{
    text-align: center;
    padding: 15px;
    box-shadow: 5px 8px 30px #92929281;
}
.product-box h3{
    font-size: 18px;
    color: #3b3b3b;
    font-weight: 600;
    margin: 20px 0;
}
.product-box img{
    width: 208px;
    height: 220px;

}
.product-box h4{
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    color: #666666;
}
.product-box button{
    padding: 10px 18px;
    background-color: #E55473;
    display: inline-block;
    border: none;
    font-size: 12px;
    color: #fff;
    margin-left: 60px;
}
.product-main{
    display:flex;
    justify-content: space-between;
    margin: 30px 0;
}
.product-section{
    margin-top: 20px;
    margin-bottom: 120px;
}